/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-color: #2c3e50;
  --text-color: #333333;
  --background-color: #f8f9fa;
  --sidebar-width: 256px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  transition:
    color 0.3s,
    background-color 0.3s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
