@import 'tailwindcss';
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.4s;
}

.icon {
  font-size: 1.5em;
  vertical-align: middle;
}
